html, body, main {
  height: 100%;
  width: 100%;
  background-color: black;
}

body{
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28pt;
  display: block;
  float: left;
  background-image: url('../img/background_repeat.png');
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat-y;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
}

main{
  background-color: rgba(0, 0, 0, 0);
}

.bubble{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
}

#wrapper{
  display: block;
  float: left;
  background-image: url('../img/background.png');
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
